
/* Nav bar */
.btn{
border-radius: 20px; 
font-size: xx-small;
color:rgb(83, 83, 239) ;
border-color:rgb(83, 83, 239) ; 
}
.navbar-brand{
    color:rgb(83, 83, 239) ;
}
/* Hero Section */
.body{
 font-family: "Lexend Deca", sans-serif;
 font-weight: bold;
}
.hero-content{
    font-weight: bold;
}
.hero-text{
    font-size: small;
    color: rgb(186, 183, 183);
    text-align: start;
}
.form-control{
    font-size: small;
    border-radius: 25px;
    text-align:start;
    max-width: 400px;

}
.btn-1{
    color: white;
    background-color: rgb(83, 83, 239);
    border-radius: 20px;
    font-size: small;
    border-color: rgb(83, 83, 239);
}
.hero-image{
    height: 400px;
    width: 400px;
    }
    