
/* Nav bar */
.btn{
border-radius: 20px; 
font-size: xx-small;
color:rgb(83, 83, 239) ;
border-color:rgb(83, 83, 239) ; 
}
.navbar-brand{
    color:rgb(83, 83, 239) ;
}
/* Hero Section */
.body{
 font-family: "Lexend Deca", sans-serif;
 font-weight: bold;
}
.hero-content{
    font-weight: bold;
}
.hero-text{
    font-size: small;
    color: rgb(186, 183, 183);
    text-align: start;
}
.form-control{
    font-size: small;
    border-radius: 25px;
    text-align:start;
    max-width: 400px;

}
.btn-1{
    color: white;
    background-color: rgb(83, 83, 239);
    border-radius: 20px;
    font-size: small;
    border-color: rgb(83, 83, 239);
}
.hero-image{
    height: 400px;
    width: 400px;
    }
/* Section area 2 */
.card-title-1{
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}
.card-1{
    border-radius: 5px;
    margin: 50px;
    padding: 20px;
    background-color: rgba(32, 32, 223, 0.786);
    width: 17rem;
    height: 22rem;
}
.card-img-3{
    height: 200px;
    margin: 0%;
    
}
.card-title{
    text-align: center;
    
}
.text1{
    color: white;
    text-align: center;
    font-size: x-small;
    margin-top: 10px;
    

}
.card-2{
   border-radius: 5px;
    margin: 50px;
    padding: 20px;
    background-color:hsla(223, 81%, 88%, 0.364) ;
    width: 17rem;
    height: 22rem;
}
.text2{
    color: black;
    text-align: center;
    font-size: x-small;
    margin-top: 10px;
}
.card-3{
    border-radius: 5px;
    margin: 50px;
    padding: 20px;
    background-color:hsla(52, 78%, 53%, 0.542) ;
    width: 17rem;
    height: 22rem;
}
/* section area 3 */
.apple_logo{
   margin-left: 3cm;
   height: 30px;
   margin-top: 2px;
   
}
.playstore{
     height: 40px;
}
.chart{
    margin-top: 10px;
    height: 350px;
    margin-left: 5px;
}
/* Section area 4 */
.photo1{
    margin-top: 40px;
    margin-left: 3cm;
    height: 150px;
}
.number{
    margin-top: 4cm;
    margin-left: 2cm;
    color:rgb(83, 83, 239);
    font-family: "Lilita One", sans-serif;
   
}
/* section 5 */
.photo2{
   margin-top: 3cm;
   margin-right: 1cm; 
   height: 250px;
}

    /* footer */
    .footer{
font-family: "Quicksand", sans-serif;
color: gray;
font-size: small;
}
#form-2{
    margin-left: 6cm;
    margin-bottom: 2cm;
}